<script src="/js/assemblyTypesApi.js"></script>
<script src="/js/assembliesApi.js"></script>
<script src="/js/dateUtils.js"></script>

<%- include('../partials/assemblies/new-assembly-modal', {onSave: 'getAssembliesAndFill'}) %>

<div class="standar-wrapper">
  <div class="card standar-card">
    <h4 class="mb-4" style="color:#1abc9c;">Mis Asambleas...</h4>
    <div class="standar-container">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-main text-white fw-bold fs-1" data-bs-toggle="modal" data-bs-target="#assemblyModal" onclick="onNewAssemblyModalClick()">
          NUEVO
        </button>
      </div>
      <div class="mt-3 w-100" id="items-container" style="max-height:70vh; overflow-y:auto;">
      </div>
    </div>
  </div>
</div>
<script>
  let assembliesData = null;
  function fillAssemblies(data) {
    const e = $('#items-container');
    e.html('');
    data?.forEach(assembly => {
      let date = '';
      const { PRIMER_DIA_ASAMBLEA, ULTIMO_DIA_ASAMBLEA } = assembly;
      if (PRIMER_DIA_ASAMBLEA) {
        date += formatReadableDate(PRIMER_DIA_ASAMBLEA);
      }
      if (ULTIMO_DIA_ASAMBLEA && ULTIMO_DIA_ASAMBLEA !== PRIMER_DIA_ASAMBLEA) {
        date += ' - ' + formatReadableDate(ULTIMO_DIA_ASAMBLEA);
      }
      const itemId = `assembly-item-${assembly.CODIGO}`;
      e.append(`
        <div class="btn btn-light my-3 w-100" id="${itemId}">
          <button class="w-100 mb-3 rounded borders py-4 px-3 btn btn-link">
            <div class="fw-bold display-3 text-start">${assembly.NOMBRE_ASAMBLEA}</div>
            <div class="fs-1 text-end">${date}</div>
          </button>
        </div> 
      `);
      $(`#${itemId}`).on('click', function() {
        window.location.href = '/assemblies/edit/' + assembly.CODIGO;
      });
    });
  }
  async function getAssembliesAndFill() {
    assembliesData = await getAssemblies({getDays: true, getReservations: true});
    fillAssemblies(assembliesData);
  }
  $(async function() {
    await getAssembliesAndFill();
  });
</script>