<div class="modal fade" id="reservationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-1 fw-bold">Crear Reservación</h5>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="mb-3">
            <label for="representative" class="form-label fw-bold final-asterisk">Representante</label>
            <input class="form-control form-control-lg" type="text" placeholder="Representante de la reservación" id="representative">
          </div>
          <div class="mb-3 w-50 me-2">
            <label for="" class="form-label fw-bold final-asterisk">
              Cantidad de pasajes
            </label>
            <input type="text" class="form-control form-control-lg integer" maxlength="3" id="ticketCount">
          </div>
          <div class="mb-3 w-50 me-2">
            <label for="" class="form-label fw-bold final-asterisk">
              Cantidad inicial pagada
            </label>
            <input type="text" class="form-control form-control-lg integer" maxlength="6" id="amountPaid">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="createReservationHandler()">Crear</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#reservationModal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<script>
  function cleanReservationForm(){
    $('#representative').val('');
    $('#ticketCount').val('');
    $('#amountPaid').val();
  }
</script>