<div class="modal fade" id="reservationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-1 fw-bold">Crear Reservaci칩n</h5>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="mb-3">
            <label for="representative" class="form-label fw-bold final-asterisk">Representante</label>
            <input class="form-control form-control-lg" type="text" placeholder="Representante de la reservaci칩n" id="representative">
          </div>
          <div class="d-flex">
            <div class="mb-3 w-50 me-2">
              <label for="" class="form-label fw-bold final-asterisk">
                Cantidad de pasajes
              </label>
              <input type="text" class="form-control form-control-lg integer" maxlength="3" id="ticketCount" value="1">
            </div>
            <div class="mb-3 w-50 me-2">
              <label for="" class="form-label fw-bold final-asterisk">
                Cantidad inicial pagada
              </label>
              <input type="text" class="form-control form-control-lg numeric" maxlength="6" id="amountPaid" value="0.00">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="createReservationHandler()">Agregar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#reservationModal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="reservationAmountHandlerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 60%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold display-1 text-center w-100" id="reservationAmountHandlerTitle">
          <span class="add-payment">
            A침adir pago
          </span>
          <span class="return-payment">
            Devolver dinero
          </span>
        </h5>
      </div>
      <div class="modal-body">
        <div class="w-100 d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-minus display-1 me-1 return-payment"></i>
          <i class="fa-solid fa-plus display-1 me-1 add-payment"></i>
          <input type="text" class="numeric form-control" style="height: 150px; width: 350px; font-size: 4.5rem;" maxlength="6" id="amountReservation">
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="d-flex justify-content-center align-items-center btn btn-success me-3 rounded-5" style="font-size: 4.5rem; width: 100px; height: 100px;" onclick="onAmountPaidModifiedClick()">
          <i class="fa-solid fa-check text-white"></i>
        </button>
        <button type="button" class="d-flex justify-content-center align-items-center btn btn-danger rounded-5" data-bs-dismiss="modal" data-bs-target="#reservationAmountHandlerModal" style="font-size: 4.5rem; width: 100px; height: 100px;">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="reservationPassengersHandlerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 60%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold display-1 text-center w-100">
          <span class="add-passenger">
            A침adir pasajeros
          </span>
          <span class="remove-passenger">
            Remover pasajeros
          </span>
        </h5>
      </div>
      <div class="modal-body">
        <div class="w-100 d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-minus display-1 me-1 remove-passenger"></i>
          <i class="fa-solid fa-plus display-1 me-1 add-passenger"></i>
          <input type="text" class="integer form-control" style="height: 150px; width: 350px; font-size: 4.5rem;" maxlength="3" id="passengersQuantity">
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="d-flex justify-content-center align-items-center btn btn-success me-3 rounded-5" style="font-size: 4.5rem; width: 100px; height: 100px;" onclick="onPasssengerQuantityModifiedClick()">
          <i class="fa-solid fa-check text-white"></i>
        </button>
        <button type="button" class="d-flex justify-content-center align-items-center btn btn-danger rounded-5" data-bs-dismiss="modal" data-bs-target="#reservationPassengersHandlerModal" style="font-size: 4.5rem; width: 100px; height: 100px;">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  function cleanReservationForm(){
    $('#representative').val('');
    $('#ticketCount').val('1');
    $('#amountPaid').val('0.00');
  }
  function cleanAmountReservationForm() {
    $('#amountReservation').val('');
  }
  function cleanPassengersReservationForm() {
    $('#passengersQuantity').val('');
  }
</script>